@charset "UTF-8";

@font-face {
  font-family: "pwi-font";
  src:url("fonts/pwi-font.eot");
  src:url("fonts/pwi-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/pwi-font.woff") format("woff"),
    url("fonts/pwi-font.ttf") format("truetype"),
    url("fonts/pwi-font.svg#pwi-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pwi-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pwi-"]:before,
[class*=" pwi-"]:before {
  font-family: "pwi-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.pwi-icon-cause:before {
  content: "\62";
}
.pwi-icon-cause-solid:before {
  content: "\63";
}
.pwi-icon-country:before {
  content: "\64";
}
.pwi-icon-country-solid:before {
  content: "\65";
}
.pwi-icon-organization:before {
  content: "\68";
}
.pwi-icon-organization-solid:before {
  content: "\69";
}
.pwi-social-google:before {
  content: "\2a";
}
.pwi-social-instagram:before {
  content: "\2c";
}
.pwi-social-pinterest:before {
  content: "\2e";
}
.pwi-social-twitter:before {
  content: "\3a";
}
.pwi-icon-dashboard-general:before {
  content: "\3f";
}
.pwi-icon-dashboard-payment:before {
  content: "\40";
}
.pwi-icon-dashboard-updates:before {
  content: "\7b";
}
.pwi-arrowdown:before {
  content: "\70";
}
.pwi-convene-agenda:before {
  content: "\5c";
}
.pwi-convene-features:before {
  content: "\e116";
}
.pwi-convene-maps:before {
  content: "\e117";
}
.pwi-convene-message:before {
  content: "\e118";
}
.pwi-convene-polls:before {
  content: "\e119";
}
.pwi-convene-reports:before {
  content: "\e120";
}
.pwi-convene-settings:before {
  content: "\e121";
}
.pwi-convene-speakers:before {
  content: "\e122";
}
.pwi-icon-pwi-black:before {
  content: "\61";
}
.pwi-icon-reports:before {
  content: "\e124";
}
.pwi-icon-store:before {
  content: "\e125";
}
.pwi-angle-left:before {
  content: "\e126";
}
.pwi-angle-right:before {
  content: "\e127";
}
.pwi-account-white-icon:before {
  content: "\e128";
}
.pwi-arrow-left:before {
  content: "\e129";
}
.pwi-caret-right:before {
  content: "\5a";
}
.pwi-ios-arrow-down:before {
  content: "\e131";
}
.pwi-ios-arrow-forward:before {
  content: "\e132";
}
.pwi-ios-refresh:before {
  content: "\e133";
}
.pwi-ios-refresh-empty:before {
  content: "\e134";
}
.pwi-icon-lg-wallet:before {
  content: "\e135";
}
.pwi-category-white-icon:before {
  content: "\e136";
}
.pwi-question-sketch:before {
  content: "\e137";
}
.pwi-books-svg:before {
  content: "\e138";
}
.pwi-arrow-swipe:before {
  content: "\4e";
}
.pwi-hourglass-04:before {
  content: "\e140";
}
.pwi-about:before {
  content: "\e141";
}
.pwi-cause:before {
  content: "\42";
}
.pwi-contact:before {
  content: "\e143";
}
.pwi-country:before {
  content: "\45";
}
.pwi-hub:before {
  content: "\e145";
}
.pwi-profile:before {
  content: "\e146";
}
.pwi-tools:before {
  content: "\e147";
}
.pwi-icon-address:before {
  content: "\e148";
}
.pwi-icon-organization-1:before {
  content: "\e149";
}
.pwi-icon-browse:before {
  content: "\e150";
}
.pwi-icon-play:before {
  content: "\51";
}
.pwi-icon-search:before {
  content: "\4b";
}
.pwi-icon-close:before {
  content: "\48";
}
.pwi-icon-share:before {
  content: "\e154";
}
.pwi-icon-star:before {
  content: "\e155";
}
.pwi-icon-heart:before {
  content: "\57";
}
.pwi-icon-individual:before {
  content: "\e157";
}
.pwi-icon-join:before {
  content: "\e158";
}
.pwi-icon-login:before {
  content: "\e159";
}
.pwi-icon-logout:before {
  content: "\e160";
}
.pwi-icon-pwi-logo:before {
  content: "\e161";
}
.pwi-formbuilder:before {
  content: "\e162";
}
.pwi-icon-dashboard-causes:before {
  content: "\e163";
}
.pwi-icon-dashboard-crowdfunding:before {
  content: "\e164";
}
.pwi-icon-news:before {
  content: "\e165";
}
.pwi-icon-nonprofit:before {
  content: "\e166";
}
.pwi-gridview:before {
  content: "\e167";
}
.pwi-arrowright:before {
  content: "\e168";
}
.pwi-arrowleft:before {
  content: "\e169";
}
.pwi-listview:before {
  content: "\e170";
}
.pwi-delete:before {
  content: "\59";
}
.pwi-icon-interpunct:before {
  content: "\e172";
}
.pwi-icon-email:before {
  content: "\e173";
}
.pwi-icon-donate:before {
  content: "\e174";
}
.pwi-icon-cart:before {
  content: "\e175";
}
.pwi-icon-website:before {
  content: "\e176";
}
.pwi-icon-phone:before {
  content: "\e177";
}
.pwi-create:before {
  content: "\e178";
}
.pwi-icon-embed:before {
  content: "\e179";
}
.pwi-cause-animals:before {
  content: "\6c";
}
.pwi-cause-children:before {
  content: "\72";
}
.pwi-cause-water:before {
  content: "\56";
}
.pwi-cause-economy:before {
  content: "\75";
}
.pwi-cause-education:before {
  content: "\78";
}
.pwi-cause-environment:before {
  content: "\41";
}
.pwi-cause-family:before {
  content: "\44";
}
.pwi-cause-government:before {
  content: "\47";
}
.pwi-cause-health:before {
  content: "\4a";
}
.pwi-cause-humanrights:before {
  content: "\4d";
}
.pwi-cause-poverty:before {
  content: "\50";
}
.pwi-cause-religion:before {
  content: "\53";
}
.pwi-cause-poverty-stroke:before {
  content: "\52";
}
.pwi-cause-religion-stroke:before {
  content: "\55";
}
.pwi-cause-humanrights-stroke:before {
  content: "\4f";
}
.pwi-cause-health-stroke:before {
  content: "\4c";
}
.pwi-cause-government-stroke:before {
  content: "\49";
}
.pwi-cause-family-stroke:before {
  content: "\46";
}
.pwi-cause-environment-stroke:before {
  content: "\43";
}
.pwi-cause-education-stroke:before {
  content: "\7a";
}
.pwi-cause-economy-stroke:before {
  content: "\77";
}
.pwi-cause-water-stroke:before {
  content: "\58";
}
.pwi-cause-children-stroke:before {
  content: "\74";
}
.pwi-cause-animals-stroke:before {
  content: "\6e";
}
.pwi-icon-grants:before {
  content: "\30";
}
.pwi-icon-auction:before {
  content: "\31";
}
.pwi-icon-childsponsor:before {
  content: "\e015";
}
.pwi-icon-convene:before {
  content: "\39";
}
.pwi-icon-crm:before {
  content: "\e017";
}
.pwi-icon-crowdfund:before {
  content: "\32";
}
.pwi-icon-dashboard:before {
  content: "\33";
}
.pwi-icon-formbuilder:before {
  content: "\e01a";
}
.pwi-icon-fund:before {
  content: "\34";
}
.pwi-icon-groupgive:before {
  content: "\35";
}
.pwi-icon-help:before {
  content: "\e01e";
}
.pwi-icon-jobs:before {
  content: "\e01f";
}
.pwi-icon-volunteers:before {
  content: "\e020";
}
.pwi-icon-text2give:before {
  content: "\3c";
}
.pwi-icon-swipe:before {
  content: "\36";
}
.pwi-icon-storyteller:before {
  content: "\37";
}
.pwi-icon-stories:before {
  content: "\38";
}
.pwi-icon-soapbox:before {
  content: "\e025";
}
.pwi-icon-shoutout:before {
  content: "\e026";
}
.pwi-icon-settings:before {
  content: "\e027";
}
.pwi-icon-resources:before {
  content: "\e028";
}
.pwi-icon-profile:before {
  content: "\e029";
}
.pwi-icon-newsletter:before {
  content: "\e02a";
}
.pwi-icon-auction-activity:before {
  content: "\54";
}
.pwi-auction-icons-lettera:before {
  content: "\e02c";
}
.pwi-icon-auction-raffles:before {
  content: "\e02d";
}
.pwi-icon-auction-hammer:before {
  content: "\e02e";
}
.pwi-icon-auction-hat:before {
  content: "\e02f";
}
.pwi-icon-donate-2-1:before {
  content: "\66";
}
.pwi-icon-donate-1:before {
  content: "\67";
}
.pwi-icon-unlock:before {
  content: "\6a";
}
.pwi-icon-lock:before {
  content: "\6b";
}
.pwi-icon-product-event:before {
  content: "\3e";
}
